{% extends "base.html" %}

{% block script %}
    <script src="{{ url_for('static', filename='bower_components/socket.io-client-fixed/dist/socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/d3/d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/epoch/epoch.min.js') }}"></script>
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/epoch/epoch.min.css') }}">
{% endblock %}


{% block content %}
  <div id="temp" class="epoch" style="height: 300px"></div>
  <script>
    $(document).ready(function(){
      var data = {{ temp.data | tojson | safe }};
      var areaChartData = [
        {
          label: "Temperatura",
          values: data
        }
      ];

      $('#temp').epoch({ 
          type: 'area',
          data: areaChartData,
          tickFormats: {bottom: function(d) { return (new Date(d)).toLocaleTimeString(); }}
      });
    });
  </script>
{% endblock %}

